
div.spell-wrap,
div.spell-msg,
div.spell-wrap div,
div.spell-msg div,
div.spell-wrap input,
div.spell-wrap input[type="text"],
div.spell-wrap hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}